<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
    <title>Become User</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'articles:index' %}">Articlee</a>
    </nav>
    <div class="container py-5"> 
        {% load crispy_forms_tags %}
        <h1>Oops, looks like you cannot visit this url,while you are not authenticated</h1>
        <p>Visit one of the following links:</p>
        <a href="{% url 'articles:login' %}">Login</a><br>
        <a href="{% url 'articles:register' %}">Register</a><br>
        <a href="{% url 'articles:password-reset' %}">Forgot password?</a>
    </div>
</body>
</html>