{% extends "articles/header.html" %}

{% block content%}
    <div class="container py-5">
        <img src="{{ article.image.url }}" alt="Article image" style="width: 30%; float: right; margin-right: 30px;">
        <h2>Title: {{ article.title }}</h2>
        <p>Was published by <a href="">{{ article.author }}</a></p>
        <p>Published: {{ article.pub_date }}</p>
        <p>Was read {{ article.times_read }} times</p>
        {% for tag in article.tags.all %}
            <a href="">#{{ tag }}</a>
        {% endfor %}
        <p><strong>Content:</strong></p>
        <p> {{ article.content }} </p>
        {% if user_reaction_message %}
            <p><strong>{{ user_reaction_message }}</strong></p>
        {% endif %}
        <p>{{ likes }} likes | {{ dislikes }} dislikes</p>
        <form action="{% url 'articles:like-article' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Like</button>
        </form>
        <form action="{% url 'articles:dislike-article' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Dislike</button>
        </form>
        <a href="{% url 'articles:comment-article' article.id %}">Leave your comment</a>
        <p>--- Comment section ---</p>
        {% if comments %}
          {% for comment in comments%}
            <div class="container py-5">
              <img src="{{ comment.commentator.user_image.url}}" alt="User's image" style="width: 10%; float: left; margin-right: 10px;">
              <p>Comment: {{ comment.content }}</p>
              <p>Left by {{ comment.commentator }} {{ comment.pub_date }}</p>
              {% if comment.is_author %}
                <p><strong>author</strong></p>
              {% endif %}
            </div>
          {% endfor %} 
        {% else %}
          <p>No comments left yet</p>
        {% endif %}
    </div>
{% endblock %}